.dash-container {
    height: 70vh;
}
.my-post-container {
    max-height: 70vh;
    overflow: auto;
}
.post-container {
    margin: 5px;
}
/* .post-btn-container {
    z-index: auto;
} */
.hero {
    display: none;
}