:root {
    --primary-color: rgb(31,41,55);
    --secondary-color: rgba(75,85,99);
    --tertiary-color: rgba(79,70,229);
}

.post-container {
    background-color: var(--secondary-color);
    color: lightgray;
}

.liked {
    color: var(--tertiary-color);
}

.login-form-container {
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
}

.description {
    width: 50rem;
}