:root {
    --primary-color: rgb(31,41,55);
    --secondary-color: rgba(75,85,99);
    --tertiary-color: rgba(79,70,229);
}

.hero {
    background-image: url(../images/hero.jpg);
}

.book-bg {
    background-image: url(../images/clean-bg.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.post-grid {
    height: 90%;
    width: 1020px;
}
.post-container {
    background-color: var(--secondary-color);
    color: lightgray;
    min-height: 40%;
}
.liked {
    color: var(--tertiary-color);
}

.page-btn {
    background-color: cornflowerblue;
    border-radius: 50%;
}
.page-num {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
    color: black;
    font-size: 1.5rem;
}
#left-pg {
    margin-right: 500px;
}
#right-pg {
    margin-left: 500px;
}

.login-form-container {
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    text-align: center;
}
.signup-link {
    color: var(--tertiary-color);
}
.signup-link:hover {
    text-decoration: underline;
}

.description {
    width: 50rem;
}

.search-result-container{
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: lightgray;
}
.search-result-container:first-child{
    border-radius: 5px 5px 0 0;
}
.search-result-container:last-child{
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}
.search-result-container:only-child{
    border-radius: 5px;
    border-bottom: none;
}

.search-title {
    font-size: 1.3rem
}